# Expo
.expo/
web-build/

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.log

# Firebase (sensitive)
**/google-services.json
**GoogleService-Info.plist

# Android
android/app/google-services.json
android/build
android/app/build

# iOS
ios/build
ios/Pods/
*.xcworkspace

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
